div {
    margin-top: 10px;
    text-align: center;
}

body {
    background-color: rgb(140, 140, 140);
}

#Button1 {
    margin-top: 6px;
    text-align: center;
}

#Button2 {
    margin-top: 6px;
    text-align: center;
}